:root {
    --card-gradient: linear-gradient(to right, #1ABC9C, #2ECC71);
    --card-gradient2: linear-gradient(to right, #3498DB, #E74C3C);
}

body {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--card-gradient2);
    
}

.container {
    max-width: 960px;
    margin: 0;
    padding: 20px;
}

.heading {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.link {
   
    text-decoration: none;
    margin-left: 10px;
}

.card {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin-top: 20px;
    max-width: 270px;
    width: 100%;
    background: var(--card-gradient);
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px) rotateX(10deg);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-body {
    height: 120px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 2px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-title {
    margin: 0;
    padding-top: 4px;
    font-size: 20px;
}

.cart-price {
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-quantity {
    width: 95%;
    padding: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.total-price {
    font-weight: bold;
    margin: 10px 0;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0;
}

#close-cart {
    font-size: 24px;
    color: #dc3545;
    cursor: pointer;
}
