body {
  font-family: 'Courier New', Courier, monospace;
 padding: 0;
 margin: 0;
}

header {
  background-color: black;
  padding: 1rem 0;
  color: white;
  position: fixed;
  width: 100%;
  margin-top: -3rem;
}
.left{
  margin-left: 1rem;
}
.right{
  margin-right: 1rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.badge {
  padding: 0 9px;
}
.bx {
  font-size: 20px;
} 
main{
  margin-top: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  max-width: 300px;
  padding: 20px;
  box-sizing: border-box;
  border-style:solid;
  border-width:5px; 
  /* margin: 5px; */
  /* margin-bottom: 1rem; */
  text-align: center;
}

.card img {
  width: 200px;
  height: 200px; 
}

.card h2 {
  font-size: 20px;
  margin-top: 10px;
}

.card p {
  margin-top: 10px;
}

.card span {
  font-weight: bold;
}

.card i {
  font-size: 20px;
  margin-top: 10px;
}

.goright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.goright span {
  padding: 0 10px;
}

@media (min-width: 768px) {
  .card {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(33.33% - 20px);
  }
}
